# Server
NODE_ENV=production
PORT=3000

# PostgreSQL (Render stellt diese Variable bereit)
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DBNAME

# Für Render/Postgres meist notwendig
PG_SSL=true

# Optional
CORS_ORIGIN=*
JWT_SECRET=change-me
MAX_BODY_SIZE=100kb
